html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS for mobile devices*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pics/code-wallpaper.jpeg");
    background-color: #cccccc;
}
header {
    border-radius:1.2em;
    width:98%;
    /*margin-top:1%;*/
    margin-left:auto;
    margin-right:auto;
    background-color:#CFAE1C;
}
h{
    color:#121B2A;
    font-family: 'Fredoka One', cursive;
}
ul,dl,ol{
    color:white;
}
li{
    color:white;
}

h2,h3,h4{
    color:#414955;
    padding-right:10%;
    text-align:center;
    font-family: 'Fredoka One', cursive;
}

h2{
    color:#414955;
    font-size:1.2em;
    text-shadow: white 0.1em 0.1em 0.2em;
}
h3
{
    margin:0%;
    padding-bottom:1%;
    padding-top:1%;
    padding-left:2%;
    padding-right:0%;
    text-align:left;
    font-size:1.3em;
    text-shadow: white 0.1em 0.1em 0.2em;
}
h4{
    margin:0%;
    padding-bottom:1%;
    padding-top:1%;
    padding-left:2%;
    padding-right:0%;
    font-size:1.15em;
    text-shadow: orange 0.1em 0.1em 0.2em;
}

/*All headers of blog-posts on index page are styled with an icon which belongs to the h3*/
 .blog:before{
    content: url("pics/icon25x25.png");
    padding-right:16px;
    padding-bottom:0%;
    padding-top:3%;
}



 .presentation{
     font-size:1.1em;
 }

p{
    font-size:0.9em;
    margin:1%;
    padding-left:1.5%;
    padding-right:1.5%;
    color:White;
    line-height: 120%;
}
header {
    border-style: solid;
    border-width: 0.5px;
    border-color:#F5F2BA;
    border-radius:1.2em;
    width:98%;
    margin-left:auto;
    margin-right:auto;
    background-color:#CFAE1C;
}
section{
    border-color:#F5F2BA;
    background-color:#121B2A;

    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
    
}
article{
    border-style: dotted;
    border-width: 1px;
    border-color:#121B2A;
    margin:2%;
}
section .subject{
    width:98%;
    margin:1%;
}

section .main{
    border-color:#F5F2BA;
    width:100%;
    margin-left:0;
    margin-bottom:1%;
}

/*Links*/
a{
    margin:1%;
}
a:link{color:orange;text-decoration:none}
a:visited{color:orange;text-decoration:none;}
a:focus{color:red;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:active{color:white;text-decoration:none;}


/*----------Lists------------------*/
ul{
    margin:5%;
    font-size:0.9em;
    list-style-type:circle;
}
ol{
    margin:6%;
    list-style-type:decimal;
}
li { 
    font-size: 90%;
    margin:0%;
}
dl{
    font-size:0.9em;
    margin-left:2%;
}
/*-----------end of lists----------*/

/*-----------------MENU----------------------*/
nav{
    display: block;
    border-style: dotted;
    width:98%;
    text-align:left;
    text-indent:8%;
    margin-top:1%;
    margin-left:1%;
    background-color: #121B2A;
}

/* Some properties for the menu which are valide for all possible events */
#menu ul{
    list-style-type:none;
    margin:0;
}
/*Styling menu item that indicates current page*/
.active
{
border-style: dotted;
border-width: 1px;
display: block;
color: orange;
font-weight:bold;
/*text-indent:20%;*/
text-decoration: none;
border-color:white;
background-color: #414955;
}
#menu ul a{
font-size:1.3em;
display: block;
color: #CFAE1C;
text-decoration: none;
padding-bottom:1%;
padding-top:1%;
padding-left:7%;
padding-right:5%;
margin:0;
}
#menu a:link{color:yellow;} /* background:url("pics/sprite.png") 0 0 no-repeat;*/
#menu a:visited{color:yellow;}
#menu a:focus{color:yellow;background-color:#CFAE1C;border-style:solid;border-width: 2px;border-color:white;}
#menu a:hover{color:blue;background-color:#CFAE1C;display:block;border-style:solid;border-width: 2px;border-color:white;}
#menu a:active{color:white;text-decoration:none;}

#menu  ul li a{background:url("pics/sprite.png") no-repeat}
#menu  ul li.item1 a{background-position:0px -48px}
#menu  ul li.item1 a:hover{background-position:0px 0px}
#menu  ul li.item2 a {background-position:0px -143px;}
#menu  ul li.item2 a:hover{background-position:0px -95px;}
#menu  ul li.item3 a {background-position:0px -239px;}
#menu  ul li.item3 a:hover{background-position:0px -191px;}
#menu  ul li.item4 a {background-position:0px -335px;}
#menu  ul li.item4 a:hover{background-position:0px -287px;}
/*-------------------END OF MENU-------------------------*/

/*----------Footer, background color is changed, and is identical as background of one cell in the table. Border colour is 1px instead of 2px--------*/
footer{
    border-style: solid;
    border-width: 1px;
    border-color:#F5F2BA;
    border-radius:1.2em;
    text-align:right;
    font-size:0.9em;
    font-style:italic;
    clear:both;
    width:98%;
    margin:1%;
    background-color:#414955;
}


/*--Video, Images and Figure elements----------------------------*/
video{
    max-width:100%;
    margin-bottom:2%;
}
#logo{
    padding-left:20%;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
img{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
figure{
    max-width:100%;
    text-align:center;
    font-size:0.7em;
    font-style:italic;
    margin:2%;
}

/*Figure element with class name "right" which is part of content of one blog post. In mobile css, float property is deleted, and max-width is 100%*/
.right{
    margin-top:2%;
    max-width:100%;
    width:350px;
    height:233px;
    border-color:white;
    border-style:solid;
    border-width:2px;
}
/*-----------End of Video, Images and figure elements------------*/



/*------------------style for table-----------*/
table {
   
    margin-bottom:5%;
    margin-top:5%;
    width:100%;
    border-style:double;
    border-color:orange;
    border-width:5px;
    padding:1%;
}
th, td {
    border: 1px solid white;
    padding: 1%;
}
th,td{
    vertical-align:central;
}
th{
    vertical-align:central;
    background-color: #121B2A;
    color:white;
}
td{
   background-color: #414955;
   color:white;
   text-align:center;
   vertical-align:middle;
}
/*------------------Table style ends here---------*/


/*-----------------Style for form-----------------*/
fieldset{
    max-width:100%;
    margin:3%;
    border-style:solid;
    border-width:0.05em;
    color:white;
}
#2{
    text-align:left;
}
legend{
    margin-left:3%;
    font-size:0.8em;
    color:white;
}
label{
    display: inline-block;
    text-align: right;
    width:25%;
    padding-right:2%;
    margin-left:4%;
    margin-top:1%;
    margin-bottom:1%;
}
textarea{
    display: inline-block;
    margin-top:2%;
    margin-bottom:2%;
    max-width:100%;
}
input[type=checkbox]{
    vertical-align: middle; 
    margin-left: 0%;
    float:left;
    text-align:left;
}
#dropdownbox{
    margin:2%;
}
#area{
    vertical-align:middle;
}
/*-----------------Form style - END - -----------------*/