html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Background main:
Background section:121B2A
text:121B2A
Bacground header:CFAE1C
Background footer:CFAE1C
Background section main:F5F2BA
Background section subject:121B2A
Background article:DDCA69
Background article header:CFAE1C
Background article footer:
Font colour:
google fonts: font-family: 'Fredoka One', cursive;
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pics/code-wallpaper.jpeg");
    background-color: #cccccc;
}
h{
    color:#121B2A;
    padding-left:10%;
    padding-top:5%;
    font-family: 'Fredoka One', cursive;
}
ul,dl,ol{
    color:#121B2A;
}
li{
    color:#121B2A;
}

h2,h3,h4{
    color:#121B2A;
    padding-right:10%;
    text-align:center;
    font-family: 'Fredoka One', cursive;
}
h4{
    font-size:1.15em;
}
h2{
    font-size:1.5em;
    text-shadow: yellow 0.1em 0.1em 0.2em;
}
h3
{
    margin:0%;
    padding-bottom:1%;
    padding-top:1%;
    padding-left:2%;
    padding-right:0%;
    text-align:left;
    font-size:1.3em;
    text-shadow: white 0.1em 0.1em 0.2em;
    /* I used shadow effect from example from www.w3.org*/
}

/*All headers of blog-posts on index page are styled with an icon which belongs to the h3*/
 .blog:before{
    content: url("pics/icon25x25.png");
    padding-right:16px;
    padding-bottom:0%;
    padding-top:3%;
}

 .presentation{
     font-size:1.1em;
 }
figure{
    text-align:center;
    font-size:0.7em;
    font-style:italic;
    margin:5%;
}

h1{
     text-shadow: white 0.1em 0.1em 0.2em;
     margin:10%;
     float:right;
     font-size:1.8em;
}
p{
    font-size:0.9em;
    margin:1%;
    padding-left:1.5%;
    padding-right:1.5%;
    color:#121B2A;
    line-height: 120%;
}


header {
    border-style: solid;
    border-width: 2px;
    border-color:#F5F2BA;
    border-radius:1.2em;
    width:98%;
    margin-top:1%;
    margin-left:auto;
    margin-right:auto;
    background-color:#CFAE1C;
}

section{
    border-style: solid;
    border-width: 3px;
    border-color:#F5F2BA;
    background-color:#121B2A;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    margin-bottom:2%;
    opacity:0.8;
}

article{
    border-style: dotted;
    border-width: 1px;
    border-color:#121B2A;
    margin:2%;
    background-color:#F5F2BA;
}

/*section tag that, together with <nav> tag, makes the whole layout two-columned */
section .subject{
    width:98%;
    margin:1%;
    background-color:#CFAE1C;
}

/*Block with menu */
nav{
    display: block;
    border-style: dotted;
    border-width: 1px;
    border-color:white;
    padding-top:5%;
    padding-bottom:20%;
    width:20%;
    float:left;
    text-align:center;
    margin-top:1%;
    margin-left:1%;
    background-color: #121B2A;
}

/*Links*/
a{
    margin:1%;
}
a:link{color:#4C0000;text-decoration:none}
a:visited{color:#4C0000;text-decoration:none;}
a:focus{color:red;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:active{color:white;text-decoration:none;}

ul{
    margin:5%;
    font-size:0.9em;
    list-style-type:circle;
}

/* Some properties for the menu which are valide for all possible events */
#menu ul{
    list-style-type:none;
    margin:0;
}
#menu ul a{

font-size:1.3em;
display: block;
color: #CFAE1C;
text-decoration: none;
padding-top:3%;
padding-bottom:3%;
padding-left:7%;
padding-right:5%;
margin:0;
}

/*Styling menu in case of different "events"*/
#menu a:link{color:yellow;}
#menu a:visited{color:yellow;}
#menu a:focus{color:yellow;background-color:#CFAE1C;border-style:solid;border-width: 2px;border-color:white;}
#menu a:hover{color:blue;background-color:#CFAE1C;display:block;border-style:solid;border-width: 2px;border-color:white;}
#menu a:active{color:white;text-decoration:none;} /*Color is white because I wanted some very short "blitz" effect*/

/*Styling menu item that indicates current page*/
nav .active
{
border-style: dotted;
border-width: 1px;
display: block;
color: #CFAE1C;
text-decoration: none;
border-color:white;
background-color: #414955;
}

/* I could write margin with four values in a row...but it is easier to read before I get use to it */
section .main{
    border-style: dotted;
    border-width: 1px;
    border-color:#F5F2BA;
    width:77%;
    margin-top:1%;
    margin-left:22%;
    margin-right:0.5%;
    margin-bottom:1%;
    background-color:#DDCA69;
}

footer{
    border-style: solid;
    border-width: 2px;
    border-color:#F5F2BA;
    border-radius:1.2em;
    text-align:right;
    font-size:0.9em;
    font-style:italic;
    clear:both;
    width:98%;
    margin:1%;
    background-color:#CFAE1C;
}


ol{
    margin:4%;
    list-style-type:decimal;
}

/* I used percentage, because with every new step in nesting font-size would decrease for 10%*/
li { 
    font-size: 90%;
    margin:0%;
}
dl{
    font-size:0.9em;
    margin-left:2%;
}
video{
    margin-left:4%;
    margin-top:2%;
    margin-bottom:2%;
}